build
_trial_temp
dist
MANIFEST
.coverage
tags
.testrepository
.noseids
apidocs
*.pyc
*.so
*~
debian/files
*.debhelper.log
*.substvars
*.debhelper
debian/python-subvertpy-dbg/
debian/python-subvertpy/
debian/tmp/
