include MANIFEST.in 
include subvertpy/*.c
include subvertpy/*.h 
include AUTHORS COPYING INSTALL NEWS TODO
include examples/*.py
include README.md
include Makefile
include subvertpy.cfg
include man/*.1
